.column {float: left; width: 33.33%;/*this almost turned my whole page green*/}
.row:after {content: ""; display: table;clear: both; /*i am fairly proud of this hands on*/}
main {font-family: Verdana, Geneva, Tahoma, sans-serif;width: 100%; height: 100%;padding: 15px;
    background-color: rgb(119, 119, 113); box-shadow: 10px 10px;}
h1 {font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: darkslategray;text-shadow: 2px 2px 4px #000000;background-image: url("/Image/h1image.jpg")}
body {margin-right: auto;margin-left:  auto; max-width: 80%;padding-right: 10px; padding-left:  10px;}
.section1 {background-image: url(/Image/spotlight.png); background-position: right bottom, left top;
    background-repeat: no-repeat, repeat; padding: 15px;}
footer {color:#C3E3EB; background-color: #14193C; font-family: Arial, Helvetica, sans-serif}
  